// main: ../paradiddle.scss

/*
*  Paradiddle Grids
*  -----------------
*  To update the layout of the grids, change variables in _variables.scss
*/

@if $enable-grids {
  .row {
    max-width: $row-width;
    margin: 0 auto;
    padding: ($gutter/2) $gutter ($gutter/2) $gutter;
    box-sizing: border-box;

    @include display-flex();
    @include flex-flow(row wrap);

    & >:first-child { margin-left: 0; }
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      min-width: #{($i * (100/$columns)) * $column-weight}px;
      margin-left: $gutter;
      word-wrap: break-word;
      box-sizing: border-box;

      @include flex(0 0 ($i * (100/$columns) - $gutter));
    }

    .row .offset-col-#{$i} {
        margin-left: ($i * (100%/$columns) + $gutter);
    }
  }
}
