// main: ../paradiddle.scss

/*
*  Paraddidle Variables
*
*  ---------------------
*  | Table of Contents |
*  ---------------------
*  ~ Component Enabling
*  ~ Base
*  ~ Grid
*/

// ---- Component Enabling ----
$enable-grids: true !default;  // (true/false) Includes grids if true, leaves it out if false
$enable-forms: true !default;  // (true/false) Includes form styles if true, leaves it out if false
$enable-utilities: true !default; // (true/false) Includes utilities if true, leaves it out if false

// Media Queries
$tiny: 300px !default;
$small: 800px !default;
$medium: 1600px !default;
$large: 2400px !default;

// Z index
$layer-1: 10 !default;
$layer-2: 20 !default;
$layer-3: 30 !default;
$layer-4: 40 !default;
$layer-5: 50 !default;

// ---- Base ----
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;   // Sans serif font
$serif: "Merriweather", Times, Georgia, serif !default;                              // Serif font

// ---- Grid ----
$row-width: 100% !default;    // Defines the width of .row
$gutter: 1% !default;       // Defines the size of the gutter around columns
$column-weight: 2 !default;   // Handles responsiveness in columns. Higher number wraps columns to newline sooner.

$columns: 12 !default;  // Creates a twelve point grid-system.
