// main: ../paradiddle.scss

/*
*  Paraddidle Variables
*
*  ---------------------
*  | Table of Contents |
*  ---------------------
*  ~ Component Enabling
*  ~ Base
*  ~ Grid
*/

// ---- Component Enabling ----
$enable-grids: true !default;

// ---- Base ----

// ---- Grid ----
$row-width: 100% !default;
$gutter: 20px !default;

$columns: (one: 1,
          two: 2,
          three: 3,
          four: 4,
          five: 5,
          six: 6,
          seven: 7,
          eight: 8,
          nine: 9,
          ten: 10,
          eleven: 11,
          twelve: 12) !default;
