// main: ../paradiddle.scss

/*
*  Paraddidle Variables
*
*  ---------------------
*  | Table of Contents |
*  ---------------------
*  ~ Component Enabling
*  ~ Base
*  ~ Grid
*/

// ---- Component Enabling ----
$enable-grids: true !default;  // (true/false) Includes grids if true, leaves it out if false

// ---- Base ----
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;   // Sans serif font
$serif: "Merriweather", Times, Georgia, serif !default;                              // Serif font

// ---- Grid ----
$row-width: 100% !default;    // Defines the width of .row
$gutter: 1% !default;       // Defines the size of the gutter around columns
$column-weight: 3 !default;   // Handles responsiveness in columns. Higher number wraps columns to newline sooner.

$columns: 12 !default;  // Creates a twelve point grid-system.
